<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rhefew.cocdrive" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/inception"
        android:label="Inception"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >

        <activity android:name=".NewUser">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Splash" />

        <activity android:name=".Results"/>
    </application>

</manifest>
